

/*body{  line-height:1.5em;*/

/*  !*background:url('http://cn.bing.com/ImageResolution.aspx?h=768&w=1366'),url(../Img/default.jpg);*!*/
/*  background-size:1366px 768px;*/
/*  background-repeat:no-repeat;}*/

/*#menu ul{  list-style:none;*/
/*  font:14px 宋体;*/
/*  margin:auto;*/
/*}*/
/*#menu ul li{*/
/*  width:150px;*/
/*  line-height:35px;*/
/*  float:left;*/
/*  margin-left:40px;*/
/*  background:#CCC;*/
/*  color:#FF3399;*/
/*  text-align:center;*/
/*}*/
/*#menu  li ul{*/
/*  border-top:1px solid red;*/
/*  display:none;*/
/*  margin:0px;*/
/*  padding:0px;*/
/*}*/
/*#menu  li ul li{*/
/*  margin-left:0px;*/
/*  background:#eee;*/
/*  text-align:center;*/
/*}*/
/*#menu {*/
/*  width:auto;*/
/*  height:35px;*/
/*  margin-top:40px;*/
/*  margin-left:100px;*/
/*  text-align:center;*/
/*  padding-left:30px;*/


/*}*/

/*a{color:#000; text-decoration:none;}*/
/*a:hover{color:#f00;}*/

/* CSS Document */





