html, body {
  position: relative;
}

#welcomeShow1 {
  line-height: 3em;
  text-indent: 2em;
  font-family: "新宋体";
  color: white;
  font-size: 300%;
  width: 100%;
  min-width: 1250px;
  height: 250px;
  background: url("../../assets/images/welcome/introduce/welcomeShow1.jpg") no-repeat;
  background-size: 100% 100%;
}

#welcomeShow2 {
  width: 100%;
  min-width: 1250px;
  height: 300px;
  background: url("../../assets/images/welcome/introduce/welcomeShow2.jpg") no-repeat;
  background-size: 100% 100%;
}

a {
  text-decoraction: none;
}

.router-link-active {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

hr {
  width: 80%;
  height: 1px;
  border: none;
  border-top: 1px solid #555555;
}

#globle {
  width: 100%;
  height: 800px;
  background-color: #080808;
  position: relative;
  top: -50px;
}

#top_title {
  position: relative;
  top: 0px;
  width: 100%;
  height: 6%;
  font-family: "宋体";
  font-size: 250%;
  text-indent: 15%;
  letter-spacing: 30px;
  padding-top: 20px;
  color: white;
}

#title_des {
  width: 300px;
  height: 25px;
  position: relative;
  left: 300px;
  top: -10px;
  background-image: url(../images/welcome/3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#slogan {
  height: 50px;
  font-family: "新宋体";
  color: #555555;
  font-size: 200%;
  text-align: center;
  line-height: 20px;
  position: relative;
  top: 50px;


}


#entrance {
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  margin: 10px auto;
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 50px;
  border: 1px solid rgb(135, 98, 56);
  font-family: SimSun;
  position: relative;
  top: 50px;
}

#entrance:hover {
  background-color: #d9933e;

}


#content-img {
  width: 576px;
  height: 451px;
  background-image: url(../images/welcome/mac-phone.png);
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
  top: 70px;
}

#singerShow {
  position: relative;
  top: -50px;
  width: 100%;
  min-width: 1250px;
  height: 700px;
  background: url("../../assets/images/welcome/introduce/singerShow.png") no-repeat;
  background-size: 100% 100%;
}

#singerShowIntroduce {
  line-height: 300px;
  font-family: "pingfangSS";
  text-indent: 25.5em;
  color: #555555;
  font-size: 150%;
  position: relative;
  top: 0px;
  width: 100%;
  min-width: 1250px;
  height: 180px;
  background: url("../../assets/images/welcome/introduce/singerShowIntroduce.png") no-repeat;
  background-size: 100% 100%;

}

